.progress-dialog__content {
    padding:10px 10px 20px 10px; 
    height: 400px; 
    width: 500px;
}

.progress-dialog__content > .progress-bar {
    position: absolute;
    width: 500px;
    top: 175px;
}

.progress-dialog__content > .progress-bar .progress-bar__label {
    text-align: right;
    margin-bottom: 4px;
}

.progress-dialog__content > .progress-bar__label:before{
    content: "Progress:";
    position: absolute;
    left: 0;
}

.progress-dialog__content > .progress-bar .progress-bar__container {
    height: 21px; 
    background-color: #2d2e30;     
    border-top: 1px solid #27282a; 
    border-left: 1px solid #27282a; 
    border-bottom: 1px solid #454648; 
    border-right: 1px solid #454648; 
    border-radius: 4px;     
    overflow: hidden; 
    padding: 1px;
}

.progress-dialog__content > .progress-bar .progress-bar__container > .progress-bar__completed-progress {
    display: inline-block; 
    height: 100%;
    background: linear-gradient(to right, rgb(199, 199, 199), rgb(240, 240, 240)); 
    background-color: rgb(199, 199, 199); 
    border-radius: 2px;
}