<?xml version="1.0" encoding="UTF-8"?>
<!-- Display name for the application -->
<?define DisplayName="SitecoreUML Extension for StarUML" ?>
<!-- Publisher of the software -->
<?define Publisher="Zachary Kniebel" ?>
<!-- Software version -->
<?define Version="1.3.1" ?>
<!-- Guid value unique to each version (necessary for upgrades) -->
<?define VersionGuid="54a32152-d242-4856-a5d0-349d11d1fcf8" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"  xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
	<Product Id="d7c91a80-d68a-4a8a-86d3-d4e11e1dd7f3"  Name="$(var.DisplayName)" Language="1033" Version="$(var.Version)" Manufacturer="$(var.Publisher)" UpgradeCode="$(var.VersionGuid)">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" />
    
		<MajorUpgrade
		  Schedule="afterInstallValidate"
      DowngradeErrorMessage="A newer version of the [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="StarUML.Extension" Title="StarUML Extension" Level="1">
			<ComponentGroupRef Id="StarUML.Extension.Modules" />
      <ComponentGroupRef Id="StarUML.Extension.Templates" />
		  <ComponentGroupRef Id="StarUML.Extension.Styles" />
		  <ComponentGroupRef Id="StarUML.Extension.Grammars" />
		  <ComponentGroupRef Id="StarUML.Extension.HtmlContent" />
		  <ComponentGroupRef Id="StarUML.Extension.ModuleExtenders" />
		</Feature>

    <UIRef Id="WixUI_Minimal" />
	  <UIRef Id="WixUI_ErrorProgressText" />
    
	  <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

	  <WixVariable Id="WixUILicenseRtf" Value="..\..\StarUML_Extension\SitecoreUML\LICENSE.rtf" />
	</Product>
  
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="AppDataFolder" Name="Roaming">
        <Directory Id="StarUML" Name="StarUML">
          <Directory Id="extensions" Name="extensions">
            <Directory Id="user" Name="user">
              <Directory Id="INSTALLFOLDER" Name="SitecoreUML">
                <Directory Id="SitecoreUML.GrammarsFolder" Name="Grammars" />
                <Directory Id="SitecoreUML.HtmlContentFolder" Name="HtmlContent" />
                <Directory Id="SitecoreUML.ModuleExtendersFolder" Name="ModuleExtenders" />
                <Directory Id="SitecoreUML.StylesFolder" Name="Styles" />
                <Directory Id="SitecoreUML.ProjectTemplatesFolder" Name="Templates" />
              </Directory>
            </Directory>
          </Directory>
        </Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="StarUML.Extension.Modules" Directory="INSTALLFOLDER">
      <Component Id="Modules.ArrayUtils" Permanent="no" NeverOverwrite="no">
        <RemoveFile Id="Remove_ArrayUtilsModule" Name="ArrayUtils.js" On="both" />
        <File Source="..\..\StarUML_Extension\SitecoreUML\ArrayUtils.js" KeyPath="yes" Vital="yes" />
      </Component>
      <Component Id="Modules.DiagramUtils" Permanent="no" NeverOverwrite="no">
        <RemoveFile Id="Remove_DiagramUtilsModule" Name="DiagramUtils.js" On="both" />
        <File Source="..\..\StarUML_Extension\SitecoreUML\DiagramUtils.js" KeyPath="yes" Vital="yes" />
      </Component>
      <Component Id="Modules.RepositoryUtils" Permanent="no" NeverOverwrite="no">
        <RemoveFile Id="Remove_RepositoryUtilsModule" Name="RepositoryUtils.js" On="both" />
        <File Source="..\..\StarUML_Extension\SitecoreUML\RepositoryUtils.js" KeyPath="yes" Vital="yes" />
      </Component>
		  <Component Id="Modules.Main" Permanent="no" NeverOverwrite="no">
		    <RemoveFile Id="Remove_MainModule" Name="Main.js" On="both" />
		    <File Source="..\..\StarUML_Extension\SitecoreUML\Main.js" KeyPath="yes" Vital="yes" />
		  </Component>
		  <Component Id="Modules.ModuleExtendersLoader" Permanent="no" NeverOverwrite="no">
		    <RemoveFile Id="Remove_ModuleExtendersLoaderModule" Name="ModuleExtendersLoader.js" On="both" />
		    <File Source="..\..\StarUML_Extension\SitecoreUML\ModuleExtendersLoader.js" KeyPath="yes" Vital="yes" />
		  </Component>
		  <Component Id="Modules.ProgressDialog" Permanent="no" NeverOverwrite="no">
		    <RemoveFile Id="Remove_ProgressDialogModule" Name="ProgressDialog.js" On="both" />
		    <File Source="..\..\StarUML_Extension\SitecoreUML\ProgressDialog.js" KeyPath="yes" Vital="yes" />
		  </Component>
		  <Component Id="Modules.SitecoreConnectionTest" Permanent="no" NeverOverwrite="no"> 
		    <RemoveFile Id="Remove_SitecoreConnectionTestModule" Name="SitecoreConnectionTest.js" On="both" />
		    <File Source="..\..\StarUML_Extension\SitecoreUML\SitecoreConnectionTest.js" KeyPath="yes" Vital="yes" />
		  </Component>
      <Component Id="Modules.SitecoreFieldEditorView" Permanent="no" NeverOverwrite="no">
        <RemoveFile Id="Remove_SitecoreFieldEditorViewModule" Name="SitecoreFieldEditorView.js" On="both" />
        <File Source="..\..\StarUML_Extension\SitecoreUML\SitecoreFieldEditorView.js" KeyPath="yes" Vital="yes" />
      </Component>
      <Component Id="Modules.SitecoreHelix" Permanent="no" NeverOverwrite="no">
        <RemoveFile Id="Remove_SitecoreHelixModule" Name="SitecoreHelix.js" On="both" />
        <File Source="..\..\StarUML_Extension\SitecoreUML\SitecoreHelix.js" KeyPath="yes" Vital="yes" />
      </Component>
      <Component Id="Modules.SitecoreHelixDiagrammingTools" Permanent="no" NeverOverwrite="no">
        <RemoveFile Id="Remove_SitecoreHelixDiagrammingToolsModule" Name="SitecoreHelixDiagrammingTools.js" On="both" />
        <File Source="..\..\StarUML_Extension\SitecoreUML\SitecoreHelixDiagrammingTools.js" KeyPath="yes" Vital="yes" />
      </Component>
      <Component Id="Modules.SitecoreMenuLoader" Permanent="no" NeverOverwrite="no"> 
		    <RemoveFile Id="Remove_SitecoreMenuLoaderModule" Name="SitecoreMenuLoader.js" On="both" />
		    <File Source="..\..\StarUML_Extension\SitecoreUML\SitecoreMenuLoader.js" KeyPath="yes" Vital="yes" />
		  </Component> 
		  <Component Id="Modules.SitecorePreferencesLoader" Permanent="no" NeverOverwrite="no"> 
		    <RemoveFile Id="Remove_SitecorePreferencesLoaderModule" Name="SitecorePreferencesLoader.js" On="both" />
		    <File Source="..\..\StarUML_Extension\SitecoreUML\SitecorePreferencesLoader.js" KeyPath="yes" Vital="yes" />
		  </Component>
		  <Component Id="Modules.SitecoreProjectTemplatesLoader" Permanent="no" NeverOverwrite="no"> 
		    <RemoveFile Id="Remove_SitecoreProjectTemplatesLoaderModule" Name="SitecoreProjectTemplatesLoader.js" On="both" />
		    <File Source="..\..\StarUML_Extension\SitecoreUML\SitecoreProjectTemplatesLoader.js" KeyPath="yes" Vital="yes" />
		  </Component> 
		  <Component Id="Modules.SitecoreTemplatesDeploy" Permanent="no" NeverOverwrite="no"> 
		    <RemoveFile Id="Remove_SitecoreTemplatesDeployModule" Name="SitecoreTemplatesDeploy.js" On="both" />
		    <File Source="..\..\StarUML_Extension\SitecoreUML\SitecoreTemplatesDeploy.js" KeyPath="yes" Vital="yes" />
		  </Component> 
		  <Component Id="Modules.SitecoreTemplatesJsonGenerator" Permanent="no" NeverOverwrite="no"> 
		    <RemoveFile Id="Remove_SitecoreTemplatesJsonGeneratorModule" Name="SitecoreTemplatesJsonGenerator.js" On="both" />
		    <File Source="..\..\StarUML_Extension\SitecoreUML\SitecoreTemplatesJsonGenerator.js" KeyPath="yes" Vital="yes" />
		  </Component> 
		  <Component Id="Modules.SitecoreTemplatesJsonReverseEngineer" Permanent="no" NeverOverwrite="no"> 
		    <RemoveFile Id="Remove_SitecoreTemplatesJsonReverseEngineerModule" Name="SitecoreTemplatesJsonReverseEngineer.js" On="both" />
		    <File Source="..\..\StarUML_Extension\SitecoreUML\SitecoreTemplatesJsonReverseEngineer.js" KeyPath="yes" Vital="yes" />
		  </Component> 
		  <Component Id="Modules.SitecoreTemplatesReverseEngineer" Permanent="no" NeverOverwrite="no"> 
		    <RemoveFile Id="Remove_SitecoreTemplatesReverseEngineerModule" Name="SitecoreTemplatesReverseEngineer.js" On="both" />
		    <File Source="..\..\StarUML_Extension\SitecoreUML\SitecoreTemplatesReverseEngineer.js" KeyPath="yes" Vital="yes" />
		  </Component> 
		  <Component Id="Modules.SitecoreTemplatesValidate" Permanent="no" NeverOverwrite="no"> 
		    <RemoveFile Id="Remove_SitecoreTemplatesValidateModule" Name="SitecoreTemplatesValidate.js" On="both" />
		    <File Source="..\..\StarUML_Extension\SitecoreUML\SitecoreTemplatesValidate.js" KeyPath="yes" Vital="yes" />
		  </Component> 
		  <Component Id="Modules.StringUtils" Permanent="no" NeverOverwrite="no"> 
		    <RemoveFile Id="Remove_StringUtilsModule" Name="StringUtils.js" On="both" />
		    <File Source="..\..\StarUML_Extension\SitecoreUML\StringUtils.js" KeyPath="yes" Vital="yes" />
		  </Component>
		</ComponentGroup>

    <ComponentGroup Id="StarUML.Extension.Templates" Directory="SitecoreUML.ProjectTemplatesFolder">
      <Component Id="Templates.BlankProject" Permanent="no" NeverOverwrite="no">
        <RemoveFile Id="Remove_BlankProject" Name="BlankProject.mdj" On="both" />
        <File Source="..\..\StarUML_Extension\SitecoreUML\Templates\BlankProject.mdj" KeyPath="yes" Vital="yes" />
      </Component>
      <Component Id="Templates.HelixProject" Permanent="no" NeverOverwrite="no">
        <RemoveFile Id="Remove_HelixProject" Name="HelixProject.mdj" On="both" />
        <File Source="..\..\StarUML_Extension\SitecoreUML\Templates\HelixProject.mdj" KeyPath="yes" Vital="yes" />
      </Component>
    </ComponentGroup>

	  <ComponentGroup Id="StarUML.Extension.Styles" Directory="SitecoreUML.StylesFolder">
	    <Component Id="Styles.ProgressDialog" Permanent="no" NeverOverwrite="no">
	      <RemoveFile Id="Remove_ProgressStyles" Name="ProgressDialog.css" On="both" />
	      <File Source="..\..\StarUML_Extension\SitecoreUML\Styles\ProgressDialog.css" KeyPath="yes" Vital="yes" />
	    </Component>
	  </ComponentGroup>

	  <ComponentGroup Id="StarUML.Extension.Grammars" Directory="SitecoreUML.GrammarsFolder">
	    <Component Id="Grammars.UMLAttribute" Permanent="no" NeverOverwrite="no">
	      <RemoveFile Id="Remove_UMLAttributeGrammar" Name="uml-attribute.pegjs" On="both" />
	      <File Source="..\..\StarUML_Extension\SitecoreUML\Grammars\uml-attribute.pegjs" KeyPath="yes" Vital="yes" />
	    </Component>
	  </ComponentGroup>

	  <ComponentGroup Id="StarUML.Extension.HtmlContent" Directory="SitecoreUML.HtmlContentFolder">
	    <Component Id="HtmlContent.SitecoreFieldEditorView" Permanent="no" NeverOverwrite="no">
	      <RemoveFile Id="Remove_SitecoreFieldEditorViewHtmlContent" Name="Sitecore-Field-Editor-View.html" On="both" />
	      <File Source="..\..\StarUML_Extension\SitecoreUML\HtmlContent\Sitecore-Field-Editor-View.html" KeyPath="yes" Vital="yes" />
	    </Component>
	  </ComponentGroup>

	  <ComponentGroup Id="StarUML.Extension.ModuleExtenders" Directory="SitecoreUML.ModuleExtendersFolder">
	    <Component Id="ModuleExtenders.UMLUtils" Permanent="no" NeverOverwrite="no">
	      <RemoveFile Id="Remove_UMLUtilsModuleExtender" Name="UMLUtils.js" On="both" />
	      <File Source="..\..\StarUML_Extension\SitecoreUML\ModuleExtenders\uml\UMLUtils.js" KeyPath="yes" Vital="yes" />
	    </Component>
	  </ComponentGroup>

  </Fragment>
</Wix>
