<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="sitecoreuml:import" type="ZacharyKniebel.Feature.SitecoreUML.Shell.Framework.Commands.ImportTemplates, ZacharyKniebel.Feature.SitecoreUML"/>
      <command name="sitecoreuml:export" type="ZacharyKniebel.Feature.SitecoreUML.Shell.Framework.Commands.ExportTemplates, ZacharyKniebel.Feature.SitecoreUML"/>
    </commands>

    <settings>
      <!-- Path to folder where template data to be imported into Sitecore using the JSON Tools should be dropped -->
      <setting name="SitecoreUML.JsonTools.ImportDropFolder" value="$(dataFolder)\SitecoreUML\Import" />
      <!-- Path to folder where old template data files will be archived (if "keepFilesAfterImport" is [true]) when imported using the JSON Tools -->
      <setting name="SitecoreUML.JsonTools.ImportHistoryFolder" value="$(dataFolder)\SitecoreUML\ImportHistory" />
      <!-- Path to the folder where exported template data files will be saved when exported using the JSON Tools -->
      <setting name="SitecoreUML.JsonTools.ExportSaveFolder" value="$(dataFolder)\SitecoreUML\Export" />
    </settings>
    
    <sitecoreUML type="ZacharyKniebel.Feature.SitecoreUML.Configuration.SitecoreUMLConfiguration, ZacharyKniebel.Feature.SitecoreUML">
      <!-- The name of the database to import data into and export data from -->
      <targetDatabaseName>master</targetDatabaseName>
      <!-- Path to the root folder that contains all templates to be imported or exported -->
      <templatesRootPath>/sitecore/templates</templatesRootPath>
      <!-- Paths to be ignored when templates are exported from Sitecore
           Notes:
            - Paths should be full Sitecore path
            - Path and descendants are excluded from templates in export
            - Path and descendants are also excluded from the exported templates' base templates -->
      <templateExcludePaths hint="list">
        <exclude>/sitecore/templates/Branches</exclude>
        <exclude>/sitecore/templates/Common</exclude>
        <exclude>/sitecore/templates/List Manager</exclude>
        <exclude>/sitecore/templates/Sample</exclude>
        <exclude>/sitecore/templates/System</exclude>
        <exclude>/sitecore/templates/Web Forms for Marketers</exclude>
      </templateExcludePaths>
      <!-- Field section name to be created by default on all imported templates -->
      <defaultFieldSectionName>Data</defaultFieldSectionName> 
      <!-- Determines whether or not import data files should be archived after file-based import; if [false] files are deleted -->
      <archiveFilesAfterImport>false</archiveFilesAfterImport>
      <!-- Controls whether or not indexing should be disabled during import (recommended for performance) -->
      <disableIndexingDuringImport>true</disableIndexingDuringImport>
      <!-- Maps the Sitecore field type names to the field type names used in the UML 
           umlFieldTypeName      :  the name that will be used when diagrams are generated from Sitecore 
           umlAliases            :  a pipe-delimited list of aliases that resolve to the umlFieldTypeName when deploying from StarUML
                                    to Sitecore. Note that the umlFieldTypeName does not have to be included in the umlAliases. Also
                                    note that umlAliases are case-insensitive. 
                                    IMPORTANT: All aliases must be unique
           sitecoreFieldTypeName :  the name of the Sitecore field type -->
      <fieldTypes hint="raw:AddFieldType">
        <!-- Simple Types -->
        <fieldType sitecoreFieldTypeName="Checkbox" umlFieldTypeName="Checkbox" umlAliases="CB" />
        <fieldType sitecoreFieldTypeName="Date" umlFieldTypeName="Date" />
        <fieldType sitecoreFieldTypeName="Datetime" umlFieldTypeName="Datetime" />
        <fieldType sitecoreFieldTypeName="File" umlFieldTypeName="File" />
        <fieldType sitecoreFieldTypeName="Image" umlFieldTypeName="Image" />
        <fieldType sitecoreFieldTypeName="Rich Text" umlFieldTypeName="Rich Text" umlAliases="RT|RichText" />
        <fieldType sitecoreFieldTypeName="Single-Line Text" umlFieldTypeName="Single-Line Text" umlAliases="SLT|SingleLineText" />
        <fieldType sitecoreFieldTypeName="Word Document" umlFieldTypeName="Word Document" umlAliases="Word|WordDocument|WordDoc|Word Doc" />
        <fieldType sitecoreFieldTypeName="Multi-Line Text" umlFieldTypeName="Multi-Line Text" umlAliases="MLT|MultiLineText" />
        <!-- List Types -->
        <fieldType sitecoreFieldTypeName="Checklist" umlFieldTypeName="Checklist" umlAliases="CBL" />
        <fieldType sitecoreFieldTypeName="Droplist" umlFieldTypeName="Droplist" umlAliases="DL" />
        <fieldType sitecoreFieldTypeName="Grouped Droplink" umlFieldTypeName="Grouped Droplink" umlAliases="GroupedDroplink" />
        <fieldType sitecoreFieldTypeName="Grouped Droplist" umlFieldTypeName="Grouped Droplist" umlAliases="GroupDroplist"/>
        <fieldType sitecoreFieldTypeName="Multilist" umlFieldTypeName="Multilist" umlAliases="ML" />
        <fieldType sitecoreFieldTypeName="Multilist with Search" umlFieldTypeName="Multilist with Search" umlAliases="MLS|MultilistWithSearch" />
        <fieldType sitecoreFieldTypeName="Name Value List" umlFieldTypeName="Name Value List" umlAliases="NVL|NameValueList"/>
        <fieldType sitecoreFieldTypeName="Name Lookup Value List" umlFieldTypeName="Name Lookup Value List" umlAliases="NLVL|NameLookupValueList" />
        <fieldType sitecoreFieldTypeName="Treelist" umlFieldTypeName="Treelist" umlAliases="TL" />
        <fieldType sitecoreFieldTypeName="Treelist with Search" umlFieldTypeName="Treelist with Search" umlAliases="TLS|TreelistWithSearch" />
        <fieldType sitecoreFieldTypeName="TreelistEx" umlFieldTypeName="TreelistEx" umlAliases="TLX" />
        <!-- Link Types -->
        <fieldType sitecoreFieldTypeName="Droplink" umlFieldTypeName="Droplink" />
        <fieldType sitecoreFieldTypeName="Droptree" umlFieldTypeName="Droptree" />
        <fieldType sitecoreFieldTypeName="General Link" umlFieldTypeName="General Link" umlAliases="GL|GeneralLink"/>
        <fieldType sitecoreFieldTypeName="General Link with Search" umlFieldTypeName="General Link with Search" umlAliases="GLS|GeneralLinkWithSearch"/>
        <fieldType sitecoreFieldTypeName="Version Link" umlFieldTypeName="Version Link" umlAliases="VL|VersionLink" />
        <!-- Developer Types -->
        <fieldType sitecoreFieldTypeName="Frame" umlFieldTypeName="Frame" />
        <fieldType sitecoreFieldTypeName="Rules" umlFieldTypeName="Rules" />
        <!-- System Types -->
        <fieldType sitecoreFieldTypeName="Datasource" umlFieldTypeName="Datasource" />
        <fieldType sitecoreFieldTypeName="Custom" umlFieldTypeName="Custom" />
        <fieldType sitecoreFieldTypeName="Internal Link" umlFieldTypeName="Internal Link" umlAliases="IL|InternalLink" />
        <fieldType sitecoreFieldTypeName="Layout" umlFieldTypeName="Layout" />
        <fieldType sitecoreFieldTypeName="Template Field Source" umlFieldTypeName="Template Field Source" umlAliases="TFS|TemplateFieldSource" />
        <fieldType sitecoreFieldTypeName="File Drop Area" umlFieldTypeName="File Drop Area" umlAliases="FDA|FileDropArea" />
        <fieldType sitecoreFieldTypeName="Page Preview" umlFieldTypeName="Page Preview" umlAliases="PP|PagePreview" />
        <fieldType sitecoreFieldTypeName="Rendering Datasource" umlFieldTypeName="Rendering Datasource" umlAliases="RD|RenderingDatasource" />
        <fieldType sitecoreFieldTypeName="Thumbnail" umlFieldTypeName="Thumbnail" umlAliases="Thumb" />
        <fieldType sitecoreFieldTypeName="Security" umlFieldTypeName="Security" />
        <fieldType sitecoreFieldTypeName="UserList" umlFieldTypeName="UserList" umlAliases="UL" />
      </fieldTypes>
    </sitecoreUML>	
  </sitecore>
</configuration>
