<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>	
	<pipelines>
	  <initialize>
	    <processor type="ZacharyKniebel.Feature.SitecoreUML.Routes.RegisterRoutes, ZacharyKniebel.Feature.SitecoreUML" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']"/>
	  </initialize>
	</pipelines>
  </sitecore>
</configuration>